* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100%;
}

.nav-wrapper{
    background-color: #e57373;
}

h2{
    padding: 60px 60px 10px 60px;
}

h3 {
    padding: 50px 0 50px 0;
    text-decoration: underline;
}

.hero-text{
    padding: 0 0 80px 0;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-bg-1.jpeg");
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0 50px 175px 50px;
    background-attachment: fixed;
    background-position: 0%; 
}

img {
    box-shadow: 10px 10px 5px grey;
    border: 1px solid #ddd;
    margin: 20px;   
}

#results {
    background-color:   #26a69a26;
}

footer {
    display: flex;
    background-color: #e57373;
    padding: 10px 0 0 0;
}
