* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100%;
}

.nav-wrapper{
    background-color: #e57373;
}

/* hero start */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-bg-1.jpeg");
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0 50px 50px 50px;
    background-attachment: fixed;
    background-position: 0%;
}

.heading-1 {
    padding: 90px 0 0 0;
    color: white;
}

.form-label {
    font-size: 20px;
}


/* hero end*/

footer {
    display: flex;
    background-color: #e57373;
    padding: 10px 0 0 0;
}
